/* Global */
* {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
main {
    width: 80%;
    margin: 0 auto;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.primary-color {
    color: #FD6E0A;
}
.btn-primary {
    color: white;
    padding: 10px 10px;
    background-color: #FD6E0A;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}
.btn-primary:hover {
    color: #FD6E0A;
    background-color: white;
}
.btn-secondary {
    color: #FD6E0A;
    padding: 10px 10px;
    background-color: white;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}
.btn-secondary:hover {
    color: white;
    background-color: #FD6E0A;
}
section {
    margin-top: 120px !important;
}
.section-title {
    text-align: center;
}
.section-description {
    text-align: center;
    margin: 30px 0 30px 0;
}


/* navigation bar */
nav h1 {
    font-size: 45px;
    transform: scale();
    transition: .3s;
    cursor: none;
}
nav h1:hover {
    transform: scale(1.3);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

nav ul {
    display: flex;
    gap: 10px;
    align-items: center;
}
nav li {
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: black;
    padding: 10px 5px;
    transition: .1s;
}
nav li a:hover {
    color: #FD6E0A;
    border-bottom: 2px solid #FD6E0A;
}


/* Header Hero */

header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left;
}
header .hero {
    display: flex;
    align-items: center;
}
.hero .hero-title {
    margin: 20px 0 20px 0;
    font-size: 80px;
}
.hero button {
    margin: 20px 20px 0 0;
}


/* About me */

.about-me {
    padding: 130px 160px;
    background-color: #FFF8F3;
}
.about-infos {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.about-me .info-title {
    font-weight: bold;
}


/* What I do */
.what-i-do .section-description {
    padding: 0 200px;

}
.what-i-do .services {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.what-i-do .service {
    padding: 25px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    transition: .2s;
}
.what-i-do .service:hover {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.40);
    transform: scale(1.1);
}

.what-i-do .service-description {
    color: rgb(87, 87, 87);
}
.what-i-do .service-title {
    margin: 20px 0 20px 0;
}

/* My Resume */
.resume .all-resume {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.resume .resume-heading {
    margin-top: 50px;
    color: #474747;
}
.resume .resume-title {
    margin: 20px 0 10px 0;
    color: #474747;
}
.resume .resume-subtitle {
    color: #6f6f6f;
}
.resume .resume-description {
    margin: 20px 0 20px 0;
    color: #6f6f6f;
    font-size: 14px;
}
.resume .resumes {
    padding: 50px;
}
.resume .download-button {
    text-align: center;
}

/* Contact */
.contact {
    background-color: #FFF8F3;
    padding: 50px 0;
}
.contact .contact-ways {
    display: flex;
    justify-content: space-between;
}
.contact .contacts {
    padding: 50px;
    width: 50%;
}
input[type="text"], input[type="email"], textarea {
    padding: 8px;
    border: 2px solid transparent;
    margin-bottom: 10px;
}
textarea, input[type="submit"] {
    display: block;
}
.link-heading, .message-heading {
    margin-bottom: 20px;
}
.social-icons {
    display: flex;
}
.social-icons a {
    margin: 20px 20px 0 0;
    transition: .1s;
}
.social-icons a:hover {
    transform: scale(1.1);
}

/* Copyright text */
.copyright {
    background-color: #FD6E0A;
    color: white;
    text-align: center;
    padding: 5px 0;
}